<div class='row'>
<div class=col>
<div class="card border-dark">
  <div class="card-header">Shipper</div>
  <div class="card-body">
  <% f.date_field :pick_up_date %> <br><br>
          <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| [sr.name, sr.id, data: { url: new_shipper_receiver_path(sr) }]}), 
          class: 'chosen-select' %>
          <%= simple_fields_for :shipment_pickups do |sp| %>
  <%= sp.error_notification %>


  <div class="form-inputs">
  <br><br>
    <%= sp.date_field :date, input_html: { class: 'form-control form-control-sm' } %> 
    <br><br>
    <%= sp.input :name, label: false, placeholder: "Pick Up Company Name", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :street, label: false, placeholder: "Street", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :city, label: false, placeholder: "City", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :state, label: false, placeholder: "State | Provence", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :zip, label: false, placeholder: "Postal Code", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :contact_person, label: false, placeholder: "Contact", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :notes, label: false, placeholder: "Pick Up Company Notes", input_html: { class: 'form-control form-control-sm' } %>
    <%= sp.input :shipment_id %>
  </div>

  <div class="form-actions">
    <%= sp.button :submit %>
  </div>
<% end %>
          <% f.input :shipper_company_name, label: false, placeholder: "Pick Up Company Name", input_html: { class: 'form-control form-control-sm' } %>
          <%= f.input :origin_street, label: false, placeholder: "Street Address", input_html: { class: 'form-control form-control-sm' }  %>
          <%= f.input :origin_city, label: false, placeholder: "City", input_html: { class: 'form-control form-control-sm' }  %>
          <%= f.select :origin_state_provence, ApplicationRecord::StateProvence, include_blank: "State | Provence", label: false %>
          <%= f.input :origin_postal_code, label: false, placeholder: "postal code", input_html: { class: 'form-control form-control-sm' } %>
          <label>phone</label><br>
          <%= f.text_field :origin_phone, id: 'phone3', input_html: { class: 'form-control form-control-sm' } %> 
          <%= f.input :origin_contact, label: false, placeholder: "Contact Person", input_html: { class: 'form-control form-control-sm' } %>
          <%= f.input :pick_up_notes, placeholder: "dock 34 @12.45am", input_html: { class: 'form-control form-control-sm' } %>
  </div>
</div>
</div>


<div class='col'>
<div class="card border-dark">
  <div class="card-header">Destination</div>
  <div class="card-body">
 <%= f.date_field :delivery_date %>
            <%= f.input :receiver_company_name, label: false, placeholder: "Deliver to Company Name", input_html: { class: 'form-control form-control-sm' }  %>
            <%= f.input :destination_street, label: false, placeholder: "Street Address", input_html: { class: 'form-control form-control-sm' }  %>
            <%= f.input :destination_city, label: false, placeholder: "City", input_html: { class: 'form-control form-control-sm' }  %>
            <%= f.select :destination_state_provence, ApplicationRecord::StateProvence, include_blank: "State | Provence", label: false  %>
            <%= f.input :destination_postal_code, label: false, placeholder: "postal code", input_html: { class: 'form-control form-control-sm' } %>
            <label>phone</label><br>
            <%= f.phone_field :destination_phone, id: 'phone4', input_html: { class: 'form-control form-control-sm' } %>
            <%= f.input :destination_contact, label: false, placeholder: "Contact Person", input_html: { class: 'form-control form-control-sm' } %>
            <%= f.input :delivery_notes, placeholder: "see sally @3pm", input_html: { class: 'form-control form-control-sm' }  %>
  </div>
</div>
</div>
</div>




  <%= f.input :special_instructions, input_html: { class: 'form-control form-control-sm' } %>
  
  <%= f.input :miles, input_html: { class: 'form-control form-control-sm' } %>
  <%= f.input :kilometers, input_html: { class: 'form-control form-control-sm' } %>



    <%= f.input :total_company_expenses %>
  <%= f.input :driver_cents_pm %>
  <%= f.input :rate_after_booking_fee %>
  <%= f.input :agent_fee %>

  <%= f.input :delivery_notes %>


























  --------------------------


  <tr class="nested-fields" >

  <td>
    <%= link_to_remove_association "remove address", f, class: 'btn btn-danger btn-xs' %>
  </td>
<td>

<%= f.date_field :origin_date, label: false, class: 'origin_date' %>
</td> 

  <td>
<span class='hide_drop hidden' id='hide_drop'>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| [sr.name, sr.id, data: { url: shipper_receivers_path(sr) }]}), 
          class: 'chosen_origin_shipper_receivers', include_blank: "search shippers" %>
</span>
<br>
<span class='hidden'>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.street}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_street", class: "sr_street"
          %>
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.city}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_city", class: "sr_city"
          %>
<br>    
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.state}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_state", class: "sr_state"
          %> 
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.zip}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_postal", class: "sr_postal"
          %>   
 </span>         
  </td>  




<td>
<span class='hide_count hidden' id='hide_count'>
<%= f.input :origin_count, label: false, input_html: { class: 'origin_count' }, readonly: true %>
</span>
</td>

<td>
<span class='hide_name hidden' id='hide_name'>
<%= f.input :origin_name, label: false, input_html: { class: 'input_name' }, readonly: true  %>
</span>
</td>

<td>
<span class='hide_street hidden' id='hide_street'>
<%= f.input :origin_street, label: false, input_html: { class: 'input_street' }, readonly: true %>
</span>
</td> 

  <td>
  <span class='hide_city hidden' id='hide_city'>
  <%= f.input :origin_city, label: false, input_html: { class: 'input_city' }, readonly: true %>
  </span>
  </td>

    <td>
    <span class='hide_state hidden' id='hide_state'>
  <%= f.input :origin_state, label: false, input_html: { class: 'input_state' }, readonly: true %>
  </span>
  </td>
  <td>
  <span class='hide_zip hidden' id='hide_zip'>
  <%= f.input :origin_zip, label: false, input_html: { class: 'input_postal' }, readonly: true %>
  </span>
  </td>
  

</tr> 


<script>

    $(document).on("change", "#origin_date0", function() {
 

    date = ($('#origin_date0').val());
    // alert(date);  
    var ids0 = "#hide_count0, #hide_drop0, #hide_name0, #hide_street0, #hide_city0, #hide_state0, #hide_zip0";

    if (date == '') { 
    $(ids0).addClass("hidden"); 
    } else {
    $(ids0).removeClass("hidden"); 
    } 
  });

    $(document).on("change", "#origin_date1", function() {
     date = ($('#origin_date1').val());
    // alert(date);  
    var ids1 = "#hide_count1, #hide_drop1, #hide_name1, #hide_street1, #hide_city1, #hide_state1, #hide_zip1";

    if (date == '') { 
    $(ids1).addClass("hidden"); 
    } else {
    $(ids1).removeClass("hidden"); 
    } 
  });

    $(document).on("change", "#origin_date2", function() {
     date = ($('#origin_date2').val());
    // alert(date);  
    var ids2 = "#hide_count2, #hide_drop2, #hide_name2, #hide_street2, #hide_city2, #hide_state2, #hide_zip2";

    if (date == '') { 
    $(ids2).addClass("hidden"); 
    } else {
    $(ids2).removeClass("hidden"); 
    } 
  });

     $(document).on("change", "#origin_date3", function() {
     date = ($('#origin_date3').val());
    // alert(date);  
    var ids3 = "#hide_count3, #hide_drop3, #hide_name3, #hide_street3, #hide_city3, #hide_state3, #hide_zip3";

    if (date == '') { 
    $(ids3).addClass("hidden"); 
    } else {
    $(ids3).removeClass("hidden"); 
    } 
  }); 


    $(document).on("change", "#origin_date4", function() {
     date = ($('#origin_date4').val());
    // alert(date);  
    var ids4 = "#hide_count4, #hide_drop4, #hide_name4, #hide_street4, #hide_city4, #hide_state4, #hide_zip4";

    if (date == '') { 
    $(ids4).addClass("hidden"); 
    } else {
    $(ids4).removeClass("hidden"); 
    } 
  });
   
</script>
     



  <%= javascript_include_tag 'shipment_origins' %>














    <script>

    $(document).on("change", "#origin_date0", function() {
 

    date = ($('#origin_date0').val());
    // alert(date);  
    var ids0 = "#hide_count0, #hide_drop0, #hide_name0, #hide_street0, #hide_city0, #hide_state0, #hide_zip0";

    if (date == '') { 
    $(ids0).addClass("hidden"); 
    } else {
    $(ids0).removeClass("hidden"); 
    } 
  });

    $(document).on("change", "#origin_date1", function() {
     date = ($('#origin_date1').val());
    // alert(date);  
    var ids1 = "#hide_count1, #hide_drop1, #hide_name1, #hide_street1, #hide_city1, #hide_state1, #hide_zip1";

    if (date == '') { 
    $(ids1).addClass("hidden"); 
    } else {
    $(ids1).removeClass("hidden"); 
    } 
  });

    $(document).on("change", "#origin_date2", function() {
     date = ($('#origin_date2').val());
    // alert(date);  
    var ids2 = "#hide_count2, #hide_drop2, #hide_name2, #hide_street2, #hide_city2, #hide_state2, #hide_zip2";

    if (date == '') { 
    $(ids2).addClass("hidden"); 
    } else {
    $(ids2).removeClass("hidden"); 
    } 
  });

     $(document).on("change", "#origin_date3", function() {
     date = ($('#origin_date3').val());
    // alert(date);  
    var ids3 = "#hide_count3, #hide_drop3, #hide_name3, #hide_street3, #hide_city3, #hide_state3, #hide_zip3";

    if (date == '') { 
    $(ids3).addClass("hidden"); 
    } else {
    $(ids3).removeClass("hidden"); 
    } 
  }); 


    $(document).on("change", "#origin_date4", function() {
     date = ($('#origin_date4').val());
    // alert(date);  
    var ids4 = "#hide_count4, #hide_drop4, #hide_name4, #hide_street4, #hide_city4, #hide_state4, #hide_zip4";

    if (date == '') { 
    $(ids4).addClass("hidden"); 
    } else {
    $(ids4).removeClass("hidden"); 
    } 
  });
   
</script>