<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @broker_profile.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @broker_profile.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @broker_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @broker_profile.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @broker_profile.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @broker_profile.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @broker_profile.fax %>
</p>

<p>
  <strong>Website:</strong>
  <%= @broker_profile.url %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @broker_profile.logo %>
</p>

<p>
  <strong>Mc:</strong>
  <%= @broker_profile.mc %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @broker_profile.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @broker_profile.email %>
</p>

<%= link_to 'Edit', edit_broker_profile_path(@broker_profile) %> |
<%= link_to 'Back', broker_profiles_path %>
