<span class="nested-fields" >


  <div class="card border-success mb-3" style="max-width: 20rem;">

  <div class="card-header"> 
  <%= f.input :origin_count, label: false, input_html: { class: 'input_origin_count' }  %>

<%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| [sr.name, sr.id, data: { url: shipper_receivers_path(sr) }]}), 
          class: 'chosen_origin_shipper_receivers' %>
<br>
<span class='hidden'>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.street}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_origin_street", class: "sr_origin_street"
          %>
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.city}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_origin_city", class: "sr_origin_city"
          %>
<br>    
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.state}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_origin_state", class: "sr_origin_state"
          %> 
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.zip}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_origin_postal", class: "sr_origin_postal"
          %>   
 </span>         


  <%= f.date_field :date, label: false, input_html: { class: 'input_origin_date' }  %></div>
  <div class="card-body">
    <h4 class="card-title"><%= f.input :name, label: false, disabled: true, input_html: { class: 'input_origin_name' }  %></h4>
    <p class="card-text">

  <%= f.input :street, label: false, disabled: true, input_html: { class: 'input_origin_street' } %>
  <%= f.input :city, label: false, disabled: true, input_html: { class: 'input_origin_city' } %>
  <%= f.input :state, label: false, disabled: true, input_html: { class: 'input_origin_state' } %>
  <%= f.input :zip, label: false, disabled: true, input_html: { class: 'input_origin_postal' } %>
  <%= f.input :notes, label: "Notes", input_html: { class: 'input_notes' } %>
  <br>
      <%= link_to_remove_association "Remove Origin Address", f, class: 'btn btn-danger btn-xs' %>
    </p>
  </div>
</div>

</span>




  <%= javascript_include_tag 'shipment_origins' %> 