<span class="nested-fields" >


  <div class="card border-success mb-3" style="max-width: 20rem;">

  <div class="card-header"> 
  <%= f.input :destination_count, label: false, input_html: { class: 'input_destination_count' }  %>

<%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| [sr.name, sr.id, data: { url: shipper_receivers_path(sr) }]}), 
          class: 'chosen_destination_shipper_receivers' %>
<br>
<span class='hidden'>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.street}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_destination_street", class: "sr_destination_street"
          %>
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.city}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_destination_city", class: "sr_destination_city"
          %>
<br>    
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.state}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_destination_state", class: "sr_destination_state"
          %> 
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.zip}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_destination_postal", class: "sr_destination_postal"
          %>   
 </span>         


  <%= f.date_field :date, label: false, input_html: { class: 'input_destination_date' }  %></div>
  <div class="card-body">
    <h4 class="card-title"><%= f.input :name, label: false, disabled: true, input_html: { class: 'input_destination_name' }  %></h4>
    <p class="card-text">

  <%= f.input :street, label: false, disabled: true, input_html: { class: 'input_destination_street' } %>
  <%= f.input :city, label: false, disabled: true, input_html: { class: 'input_destination_city' } %>
  <%= f.input :state, label: false, disabled: true, input_html: { class: 'input_destination_state' } %>
  <%= f.input :zip, label: false, disabled: true, input_html: { class: 'input_destination_postal' } %>
  <%= f.input :notes, label: "Notes", input_html: { class: 'input_notes' } %>
  <br>  
      <%= link_to_remove_association "Remove Destination Address", f, class: 'btn btn-danger btn-xs' %>
    </p>
  </div>
</div>

</span>




  <%= javascript_include_tag 'shipment_destinations' %> 