<tr class="nested-fields" >

  <td>
    <%= link_to_remove_association "remove address", f, class: 'btn btn-danger btn-xs' %>
  </td>


  <td>

    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| [sr.name, sr.id, data: { url: shipper_receivers_path(sr) }]}), 
          class: 'chosen_origin_shipper_receivers', include_blank: "search shippers" %>
<br>
<span class='hidden'>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.street}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_street", class: "sr_street"
          %>
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.city}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_city", class: "sr_city"
          %>
<br>    
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.state}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_state", class: "sr_state"
          %> 
<br>
    <%= select_tag "shipper_receivers", 
          options_for_select(@shipper_receivers.map{ |sr| ["#{sr.zip}", sr.id, data: { url: shipper_receivers_path(sr) }]}), id: "sr_postal", class: "sr_postal"
          %>   
 </span>         
  </td>   
<td>
<%= f.input :origin_count, label: false, input_html: { class: 'origin_count' }, readonly: true %>
</td>

<td>
<%= f.input :origin_name, label: false, input_html: { class: 'input_name hidden' }, readonly: true  %>
</td>

<td>
<%= f.input :origin_street, label: false, input_html: { class: 'input_street' }, readonly: true %>
</td> 

  <td>
  <%= f.input :origin_city, label: false, input_html: { class: 'input_city' }, readonly: true %>
  </td>

    <td>
  <%= f.input :origin_state, label: false, input_html: { class: 'input_state' }, readonly: true %>
  </td>
  <td>
  <%= f.input :origin_zip, label: false, input_html: { class: 'input_postal' }, readonly: true %>
  </td>

</tr> 



     



  <%= javascript_include_tag 'shipment_origins' %>